.page.theme_light {
  --text-color: #353430;
  --bg-color: #fff1f7;

  --main-header-color: #ffc2e6;
  --section-header-color: #353430;
  --block-header-color: #353430;

  --header-bg-image: url("../images/cover-image-light.png");
  
  --accent-bg: #ff8dcb;
  --accent-bg-opacity: #32312d66;

  --visible: hidden;
}
