.page {
  margin: 0 auto;
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: 18px;
}

/* Шапка */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-items: center;
  justify-items: end;
  padding: var(--main-padding);
  height: 100vh;

  background-image: var(--header-bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;

  inset-inline-start: var(--main-padding);
  inset-block-end: var(--main-padding);

  inline-size: 25px;
  block-size: 25px;

  border-block-end: 1px solid var(--accent-bg);
  border-inline-start: 1px solid var(--accent-bg);
}

.decorated-zone::after {
  content: "";
  position: absolute;

  inset-inline-end: var(--main-padding);
  inset-block-start: var(--main-padding);

  inline-size: 25px;
  block-size: 25px;

  border-block-start: 1px solid var(--accent-bg);
  border-inline-end: 1px solid var(--accent-bg);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  color: var(--section-header-color);
  padding: 0 13px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-bg-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-bg-opacity);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-bg);
  pointer-events: none;
}

.title {
  color: var(--main-header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-bg);
}

.header__description {
  justify-self: end;
  align-self: center;
  width: 100%;
}

.header__rec {
  position: absolute;
  visibility: var(--visible);
  color: var(--section-header-color);
  text-transform: uppercase;
  inset-block-start: var(--main-padding);
  inset-inline-end: calc(var(--main-padding) + 3px + 25px);
}

.header__rec::after {
  content: "";
  position: absolute;
  visibility: var(--visible);
  block-size: 5px;
  inline-size: 5px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 4px var(--section-header-color);
  color: var(--section-header-color);
  background-color: var(--section-header-color);
  inset-inline-end: -18px;
  inset-block-start: 9px;
}

/* Основной контент */
.content {
  display: grid;
  gap: var(--section-gap);
  padding: var(--main-vertical-padding) var(--main-padding);
}

.section {
  display: grid;
  grid-auto-flow: row;
  gap: var(--block-gap);
}

.section__header {
  color: var(--section-header-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.section__content {
  display: grid;
  gap: 20px;
}

.section__content_block {
  display: grid;
  gap: 10px;
  grid-template-rows: min-content auto;
}

.block__header {
  color: var(--block-header-color);
  background-color: var(--accent-bg);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.block__header-lower {
  font-weight: 400;
}

.block__text {
  color: var(--text-color);
  font-size: 18px;
  line-height: 130%;
  font-family: var(--main-font);
  font-weight: 400;
}

.block__text__link {
  text-decoration: none;
  text-shadow: 1px 1px var(--accent-area-bg);
}

.block__text__link:hover {
  outline: none;
  border-bottom: 1px solid var(--accent-bg-opacity);
}

.block__text__link:focus {
  outline: 1px solid var(--accent-bg-opacity);
}

.images_block {
  display: grid;
  gap: var(--main-padding);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Подвал */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: var(--main-padding);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-area-bg);
}

/* Медиа запросы */
@media (width > 376px) {
  :root {
    --main-padding: 20px;
    --main-vertical-padding: 60px;
    --section-gap: 80px;
  }

  .section:nth-child(odd) {
    grid-template-columns: 1fr 2fr;
  }

  .section:nth-child(even) .section__header {
    width: calc(100% / 3 - var(--block-gap));
  }

  .images_section {
    gap: 20px;
  }

  .images_block {
    height: 100vw;
  }

  .images_block {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
  }

  .header__title {
    justify-self: left;
    margin-left: calc(-1 * var(--main-padding));
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    width: calc(100% / 2);
  }

  .sunset_image {
    grid-column: 1/3;
  }

  .ice-cream_image {
    grid-column: 3;
    grid-row: 1/3;
  }

  .tape_image {
    grid-row: 2/4;
  }

  .street_image {
    grid-row: 3/4;
    grid-column: 2/4;
  }
}

@media (width > 768px) {
  .section:nth-child(2) .section__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}
