/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-color: #f1b2ce;
  --bg-color: #000028;

  --accent-area-bg: #ff0070;
  --accent-area-bg-opacity: rgba(255, 0, 112, 0.40);
  --main-padding: 10px;
  --header-color: #db00ff;
}
